
/* DECLARATIONS---------------------------------------------------------------------------------------------------------------------------------------------*/
@font-face{
font-family:Amperzand;
src:url("Amperzand.ttf");
}

@font-face{
font-family:Babiole;
src:url("BABII.ttf");
}

@font-face{
font-family:Marquee;
src: url("MARQUEE_.ttf")
}

@font-face{
font-family:Substance;
src: url("substance.ttf")
}

@font-face{
font-family:AppoPaint;
src:url("APPOPAIN.ttf");
}

/*SECTIONS-------------------------------------------------------------------------------------------------------------------------------*/

body{
padding:0px;
margin:0px;
background-color:#F1F1F1;
}

header{
background-color:black;
}

div#d101{
background-color:black;
margin-right:1200px;
margin-top:-400px;
padding-top:0px;
}

div#d102{
margin-top:-185px;
padding-bottom:0px;
}

div#d105{
margin-top:-47px;
}

div#d107{
background-color:transparent;
margin-left:200px;
margin-right:850px;
border-radius:10px;
margin-top:20px;
}

div#d108{
background-color:transparent;
margin-left:600px;
margin-right:400px;
border-radius:10px;
margin-top:-117px;
}

div#d109{
background-color:transparent;
margin-left:1000px;
margin-right:38px;
margin-top:-135px;
}

div#d110{
margin-left:220px;
margin-right:500px;
}

div#d111{
background-color:#D9534F;
margin-left:850px;
margin-right:130px;
padding:10px;
border-radius:20px;
color:white;
font-family:Babiole;
text-align:center;
margin-top:00px;
margin-bottom:00px;
}

div#d112{
background-color:#5BC0DE;
margin-left:170px;
margin-right:850px;
padding:10px;
border-radius:20px;
color:white;
font-family:Babiole;
text-align:center;
margin-top:-300px;
margin-bottom:00px;
}

div#d113{
background-color:#5CB85C;
margin-left:850px;
margin-right:130px;
padding:10px;
border-radius:20px;
color:white;
font-family:Babiole;
text-align:center;
margin-top:-100px;
margin-bottom:100px;
}

div#d114{
background-color:#F0AD4E;
margin-left:170px;
margin-right:850px;
padding:10px;
border-radius:20px;
color:white;
font-family:Babiole;
text-align:center;
margin-top:-120px;
margin-bottom:100px;
}

footer{
margin:0px;
margin-bottom:-12px;
padding:0px;
background-color:black;
color:white;
}


/*HEADINGS----------------------------------------------------------------------------------------------------------------------------------*/

h1#h101{
color:LemonChiffon;
margin-left:590px;
font-family:Marquee;
font-size:50px;
margin-top:80px;
}

h1#h102{
margin-left:200px;
font-family:AppoPaint;
}

h3#h301{
font-family:Amperzand;
color:black;
margin-top:10px;
margin-left:7px;
font-size:24px;
}

h3#h302{
font-family:Substance;
margin-left:300px;
margin-right:50px;
size:40px;
text-align:center;
}

/*IMAGES---------------------------------------------------------------------------------------------------------------------------------*/

img#i101{
width:190px;
height:138px;
margin-left:0px;
padding:1px;
border-style:double;
border-width:4px;
border-color:LemonChiffon;
float:left;
outline:none;
border-style:groove;
margin-top:-135px;
}

img.img-circle {
  border-radius: 50%;
}

img#i103{
width:300px;
height:300px;
margin-left:200px;
}

img#i104{
width:300px;
height:300px;
margin-left:100px;
}

img#i105{
width:300px;
height:300px;
margin-left:100px;
}

/*HYPERLINKS---------------------------------------------------------------------------------------------------------------------------------*/

a#a101{
text-decoration:none;
background-color:black;
font-size:25px;
color:LemonChiffon;
padding:13px;
margin-left:1311px;
}

a#a103{
text-decoration:none;
border-color:black;
border-width:2px;
border-style:solid;
font-size:25px;
padding:13px;
margin-left:1238px;
margin-bottom:-1000px;
visibility:hidden;
background-color:violet;
color:white;
}

a.link{
display:block;
text-align:center;
text-decoration:none;
background-color:white;
color:LemonChiffon;
padding:10px;
border-radius:10px;
margin-right:10px;
margin-left:1px;
margin-bottom:20px;
transition:all 0.5s; 
}

a.link:hover{
opacity:1.0;
text-decoration:none;
background-color:lemonchiffon;
color:royalblue;
}

a#a101:hover{
text-decoration:none;
background-color:lemonchiffon;
color:royalblue;	
}

a#a104{
text-decoration:none;
color:coral;
}

a#a105{
text-decoration:none;
color:hotpink;
}

a#a106{
text-decoration:none;
color:gold;
}

a#a107{
text-decoration:none;
color:lightskyblue;
}

a#a108{
text-decoration:none;
color:lawngreen;
}

a#a101:hover{
text-decoration:none;
background-color:lemonchiffon;
color:royalblue;	
}

a#a104:hover{
text-decoration:none;
background-color:coral;
color:white;
}

a#a105:hover{
text-decoration:none;
background-color:hotpink;
color:white;
}

a#a106:hover{
text-decoration:none;
background-color:gold;
color:white;
}

a#a107:hover{
text-decoration:none;
background-color:lightskyblue;
color:white;
}

a#a108:hover{
text-decoration:none;
background-color:lawngreen;
color:white;
}

/*TEXT-----------------------------------------------------------------------------------------------------------------------------------------------------*/

p#p101{
margin-left:200px;
}

pre{
margin-left:150px;
}

/*FORM AND FORM ELEMENTS-------------------------------------------------------------------------------------------------------------------------------*/

form#f102{
margin-top:-220px;
margin-left:1150px;
padding:0px;
color:white;
}

