/* DECLARATIONS------------------------------------------------------------------------------------------------------------------------------*/

@font-face{
font-family:GoodTimes;
src: url("GOODTIME.ttf")
}

@keyframes carousel {
    0%   {background-image: url("house.jpg");}
    25%  {background-image: url("interior3.jpg");}
    50%  {background-image: url("interior2.jpg");}
    100% {background-image: url("house1.jpg");}
}

@keyframes background{
	10%{background-image:url("back1.jpg"); background-position:top;}
	20%{background-image:url("back3.jpg"); background-position:top-center;}
	30%{background-image:url("back5.jpg"); background-position:top;}
	40%{background-image:url("back8.jpg"); background-position:top;}
	50%{background-image:url("back9.jpg"); background-position:top;}
	60%{background-image:url("back2.jpg"); background-position:top;}
	70%{background-image:url("back7.jpg"); background-position:top;}
	80%{background-image:url("back4.jpg"); background-position:top;}
	90%{background-image:url("back6.jpg"); background-position:top;}
}

/*SECTIONS-----------------------------------------------------------------------------------------------------------------------------------*/

body{
margin:0px;
padding:0px;
background-color:gray;
background-image:url("back.jpg");
background-repeat: no repeat;
background-position:top;	
animation:background;
animation-duration:50s;
animation-delay:2s;
animation-iteration-count:infinite;
}

header{
background-color:#000;
margin:0px;
padding:0px;
}

div#d101{
background-color:black;
width:150px;
margin-left:0px;
margin-top:-490px;
padding-top:0px;
margin-bottom:0px;
padding:0px;
}

div#d102{
margin-top:-185px;
padding-bottom:0px;
}

div#d103{
background-image:url("house1.jpg");
margin-right:340px;
margin-left:500px;
border-style:groove;
border-width:10px;
border-color:black;
animation:carousel;
animation-duration:20s;
animation-iteration-count:infinite;
visibility:hidden;
}


div#d105{
margin-top:-47px;
}

footer{
margin:0px;
margin-bottom:-12px;
padding:0px;
background-color:black;
color:white;
}

/*Images------------------------------------------------------------------------------------------------------------------------------------*/

img#i102{
margin-left:500px;
max-height:500px;
max-width:500px;
border-style:groove;
border-width:3px;
border-color:black;
outline-color:black;
outline-width:2px;
padding-top:5px;
padding-bottom:0px;
visibility:hidden;
}

img#i101{
width:190px;
height:136px;
margin-left:0px;
padding:1px;
border-style:double;
border-width:4px;
border-color:LemonChiffon;
float:left;
outline:none;
border-style:groove;
margin-top:-130px;
}

img#i103{
height:100px;
width:100px;
}

/*HEADINGS-----------------------------------------------------------------------------------------------------------------------------------*/

h1#h101{
color:white;
margin-left:400px;
font-family:GoodTimes;
font-size:40px;
margin-top:100px;
}

h3#h301{
color:white;
margin-left:1200px;
margin-top:-1000px;
}

/*HYPERLINKS---------------------------------------------------------------------------------------------------------------------------------*/

a#a101{
text-decoration:none;
background-color:black;
font-size:25px;
color:LemonChiffon;
padding:13px;
margin-left:1311px;
}

a#a103{
text-decoration:none;
border-color:black;
border-width:2px;
border-style:solid;
font-size:25px;
padding:13px;
margin-left:1238px;
margin-bottom:-1000px;
visibility:hidden;
background-color:violet;
color:white;	
}

a.link{
display:block;
text-align:center;
text-decoration:none;
background-color:#FFFFFF;
color:LemonChiffon;
padding:10px;
border-radius:10px;
margin-right:10px;
margin-left:1px;
margin-bottom:20px;
transition:all 0.5s; 
}

a.link:hover{
opacity:1.0;
text-decoration:none;
background-color:lemonchiffon;
color:royalblue;
}

a#a101:hover{
text-decoration:none;
background-color:lemonchiffon;
color:royalblue;	
}

a#a104{
text-decoration:none;
color:coral;
}

a#a105{
text-decoration:none;
color:hotpink;
}

a#a106{
text-decoration:none;
color:gold;
}

a#a107{
text-decoration:none;
color:lightskyblue;
}

a#a108{
text-decoration:none;
color:lawngreen;
}

a#a101:hover{
text-decoration:none;
background-color:lemonchiffon;
color:royalblue;	
}

a#a104:hover{
text-decoration:none;
background-color:coral;
color:white;
}

a#a105:hover{
text-decoration:none;
background-color:hotpink;
color:white;
}

a#a106:hover{
text-decoration:none;
background-color:gold;
color:white;
}

a#a107:hover{
text-decoration:none;
background-color:lightskyblue;
color:white;
}

a#a108:hover{
text-decoration:none;
background-color:lawngreen;
color:white;
}

/* TEXT---------------------------------------------------------------------------------------------------------------------------------------*/

p#p101{
margin-left:497px;
margin-right:340px;
color:lemonchiffon;
font-weight:bold;
background:black;
visibility:hidden;
}


pre{
margin-left:150px;
}

/*-------FORM-----------------------------------------------------------------------------------------------------------------------------------------------*/

form#f102{
margin-top:-131px;
margin-left:1150px;
padding:0px;
color:white;
}

input{
border-width:2px;
border-color:white;
border-radius:5px;
border-style:solid;
font-weight:bold;
}