/* DECLARATIONS------------------------------------------------------------------------------------------------------------------------*/

@font-face{
font-family:BlackChancery;
src:url("BLKCHCRY.ttf");
}

/*SECTIONS-------------------------------------------------------------------------------------------------------------------------------*/

body{
padding:0px;
margin:0px;
background-color:HoneyDew;
}

header{
background-color:black;
}

div#d101{
background-color:black;
margin-right:1200px;
margin-top:-850px;
padding-top:0px;
}

div#d102{
margin-top:-185px;
padding-bottom:0px;
}

div#d103{
background-color:DimGray;
opacity:0.5;
visibility:hidden;
}

div#d105{
margin-top:-47px;
}

footer{
margin:0px;
margin-bottom:-12px;
padding:0px;
background-color:black;
color:white;
}


/*HEADINGS----------------------------------------------------------------------------------------------------------------------------------*/

h1#h101{
font-family:BlackChancery;
color:LemonChiffon;
margin-left:525px;
font-size:50px;
margin-top:80px;
}

h3#h301{
color:black;
margin-top:10px;
margin-left:7px;
font-size:24px;
}

/* FORM AND FORM ELEMENTS-----------------------------------------------------------------------------------------------------------------*/

form#f101{
margin-left:550px;
margin-top:100px;
border-color:lightblue;
border-width:30px;
font-weight:bold;
background-color:powderblue;
margin-right:520px;
padding:50px;
}

textarea{
border-width:2px;
border-color:lightblue;
border-radius:5px;
border-style:groove;

}

input.inputclass{
border-width:2px;
border-color:lightblue;
border-radius:5px;
border-style:groove;
}

button{
border-width:2px;
border-color:black;
border-radius:5px;
border-style:solid;
font-weight:bold;
font-style:oblique;
}

input{
border-width:2px;
border-color:white;
border-radius:5px;
border-style:solid;
font-weight:bold;
}

form#f102{
margin-top:-220px;
margin-left:1150px;
padding:0px;
color:white;
}


/*IMAGES---------------------------------------------------------------------------------------------------------------------------------*/

img#i101{
width:190px;
height:136px;
margin-left:0px;
padding:1px;
border-style:double;
border-width:4px;
border-color:lemonchiffon;
float:left;
outline:none;
border-style:groove;
margin-top:-135px;
}

/*HYPERLINKS---------------------------------------------------------------------------------------------------------------------------------*/

a#a101{
text-decoration:none;
background-color:black;
font-size:25px;
color:LemonChiffon;
padding:13px;
margin-left:1311px;
}

a#a103{
text-decoration:none;
border-color:black;
border-width:2px;
border-style:solid;
font-size:25px;
padding:13px;
margin-left:1238px;
margin-bottom:-1000px;
visibility:hidden;
background-color:violet;
color:white;
}

a.link{
display:block;
text-align:center;
text-decoration:none;
background-color:#FFFFFF;
color:LemonChiffon;
padding:10px;
border-radius:10px;
margin-right:10px;
margin-left:1px;
margin-bottom:20px;
transition:all 0.5s; 
}

a.link:hover{
opacity:1.0;
text-decoration:none;
background-color:lemonchiffon;
color:royalblue;
}

a#a101:hover{
text-decoration:none;
background-color:lemonchiffon;
color:royalblue;	
}

a#a104{
text-decoration:none;
color:coral;
}

a#a105{
text-decoration:none;
color:hotpink;
}

a#a106{
text-decoration:none;
color:gold;
}

a#a107{
text-decoration:none;
color:lightskyblue;
}

a#a108{
text-decoration:none;
color:lawngreen;
}

a#a101:hover{
text-decoration:none;
background-color:lemonchiffon;
color:royalblue;	
}

a#a104:hover{
text-decoration:none;
background-color:coral;
color:white;
}

a#a105:hover{
text-decoration:none;
background-color:hotpink;
color:white;
}

a#a106:hover{
text-decoration:none;
background-color:gold;
color:white;
}

a#a107:hover{
text-decoration:none;
background-color:lightskyblue;
color:white;
}

a#a108:hover{
text-decoration:none;
background-color:lawngreen;
color:white;
}

/*---------------------------------------------TEXT---------------------------------------------------------------------------------------------------------*/
pre{
margin-left:150px;
}

sup{
color:red;
}